
<launch>

    <node name="teleop_twist_keyboard"
          pkg="teleop_twist_keyboard"
          type="teleop_twist_keyboard.py" output="screen">
        <param name="speed" value="2"/>
        <param name="turn" value="2"/>
        <remap from="/cmd_vel" to="mirtebot_0/mobile_base_controller/cmd_vel"/>
    </node>

</launch>
