<launch>

    <!-- Load parameters that match the correct
         mcu connections -->
    <group ns="mirte">
        <rosparam file="$(find mirte_telemetrix)/config/mirte_master_config_goede_arm.yaml"/>
    </group>

    <!-- Telemetrix node to start all services and topics
         for the sensors and actuators connected to the
         mcu -->
    <node name="mirte_telemetrix_mirte" output="screen"
          pkg="mirte_telemetrix"
          type="ROS_telemetrix_aio_api.py"
          respawn="true"/>

    <!-- ROS control hardware interface for differential
         drive robot. -->
    <node name="mirte_base_node" output="screen"
          pkg="mirte_base_control"
          type="mirte_base_control_node"/>

    <!-- Load controller config -->
    <rosparam command="load" file="$(find mirte_base_control)/config/control_master.yaml"/>

    <!-- Load controller settings -->
    <!-- <rosparam file="$(find ros_control_boilerplate)/rrbot_control/config/rrbot_controllers.yaml" command="load"/> -->

    <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          output="screen"
          args="mobile_base_controller"/>

    <!-- Start the lidar -->
    <!-- <include file="$(find rplidar_ros)/launch/rplidar_c1.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="laser_transform" args="0 0 0 0 0 0 map laser 100"/> 

    <include file="$(find astra_camera)/launch/astra_pro_plus.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="astra_transform_color" args="0 0 0 0 0 -1.57 map camera_color_optical_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="astra_transform_depth" args="0 0 0 0 0 -1.57 map camera_depth_optical_frame 100"/>
 -->
<include file="$(find mirte_teleop)/launch/teleop_holo_joy.launch"/>

</launch>
